.schedule-and-mailing-carriages-tab-history {
    display: flex;
    height: 52px;
    border-bottom: 1px solid #ECEDF3;
    box-sizing: border-box;
}
.schedule-and-mailing-carriages-tab-history__value {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0025em;
    color: #444C5C;
    margin: 0;
}
.schedule-and-mailing-carriages-tab-history__value_email {
    width: 200px;
    margin: auto 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.schedule-and-mailing-carriages-tab-history__value_description {
    width: 316px;
    margin: auto 32px auto 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.schedule-and-mailing-carriages-tab-history__value_execution-days {
    min-width: 147px;
    margin: auto 32px auto 0;
}
.schedule-and-mailing-carriages-tab-history__value_time {
    min-width: 100px;
    margin: auto auto auto 0;
    text-align: right;
}
.schedule-and-mailing-carriages-tab-history__options-icon-container {
    display: flex;
    position: relative;
    margin: auto 32px auto 32px;
    cursor: pointer;
}
.schedule-and-mailing-carriages-tab-history__options-icon {
    background-image: url('../../images/list-options-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.29px;
    height: 20px;
}
.schedule-and-mailing-carriages-tab-history__options-container {
    display: none;
    position: absolute;
    top: -9px;
    right: 10px;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(177, 184, 197, 0.14), 0px 3px 3px rgba(177, 184, 197, 0.12), 0px 1px 8px rgba(177, 184, 197, 0.2);
    border-radius: 4px;
}
.schedule-and-mailing-carriages-tab-history__options-container_active {
    display: flex;
}
.schedule-and-mailing-carriages-tab-history__option {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0025em;
    color: #444C5C;
    margin: 8px 16px;
}
.schedule-and-mailing-carriages-tab-history__option:hover {
    opacity: .7;
}