.my-group-vagons-tab {
    display: flex;
    flex-direction: column;
    background: #F5F6F7;
    border-radius: 4px;
}
.my-group-vagons-tab__add-group {
    display: flex;
    margin: 20px auto 0 32px;
    cursor: pointer;
}
.my-group-vagons-tab__add-group-icon {
    background-image: url('../../images/add-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
}
.my-group-vagons-tab__add-group-icon_active {
    background-image: url('../../images/add-blue-icon.svg');
}
.my-group-vagons-tab__add-group-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #667389;
    margin: 0;
}
.my-group-vagons-tab__add-group-text_active {
    color: #00A2E1;
}
.my-group-vagons-tab__add-group-container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(177, 184, 197, 0.14), 0px 3px 1px rgba(177, 184, 197, 0.12), 0px 1px 5px rgba(177, 184, 197, 0.2);
    border-radius: 4px;
    margin: 32px auto 0 32px;
    position: relative;
}
.my-group-vagons-tab__add-group-close-icon {
    position: absolute;
    background-image: url('../../images/close-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    top: 15px;
    right: 19px;
    cursor: pointer;
}
.my-group-vagons-tab__add-group-heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0015em;
    color: #444C5C;
    margin: 24px auto 0 24px;
}
.my-group-vagons-tab__add-group-span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.004em;
    color: #444C5C;
    margin: 24px auto 0 24px;
}
.my-group-vagons-tab__add-group-span_description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.004em;
    color: #444C5C;
    margin: 7px auto 0 24px;
}
.my-group-vagons-tab__add-group-input {
    width: 300px;
    height: 40px;
    margin: 8px 24px 0;
    border: 1px solid #CFD4DD;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 8px;
    color: #444C5C;
}
.my-group-vagons-tab__add-group-input-error {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.004em;
    height: 12px;
    color: red;
    margin: 5px auto 0 24px;
}
.my-group-vagons-tab__add-group-button {
    width: 117px;
    height: 40px;
    margin: 24px auto 24px 24px;
    background: #00A2E1;
    border-radius: 4px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.my-group-vagons-tab__add-group-button:hover {
    background: #00A2E1;
}
.my-group-vagons-tab__add-group-button:active {
    background: #00A2E1;
    box-shadow: 0px 8px 10px rgba(177, 184, 197, 0.14), 0px 3px 14px rgba(177, 184, 197, 0.12), 0px 5px 5px rgba(177, 184, 197, 0.2);
}
.my-group-vagons-tab__table-heading-container {
    display: flex;
    margin: 32px 32px 0 32px;
}
.my-group-vagons-tab__table-heading-result {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.001em;
    color: #667389;
    margin: 0 auto 0 0;
}
.my-group-vagons-tab__table-heading-icons-container {
    display: flex;
    width: 60px;
    margin: 0 0 0 auto;
    justify-content: space-between;
}
.my-group-vagons-tab__table-heading-icon-save {
    background-image: url('../../images/import-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 18px;
    margin: 0;
    cursor: pointer;
    position: relative;
}
.my-group-vagons-tab__table-heading-above-icon-tooltip-save {
    background-image: url('../../images/save-tooltip-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 75px;
    height: 44px;
    position: absolute;
    bottom: 18px;
    left: -31px;
    cursor: default;
}
.my-group-vagons-tab__table-heading-icon-download {
    background-image: url('../../images/export-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 18px;
    margin: 0;
    cursor: pointer;
    position: relative;
}
.my-group-vagons-tab__table-heading-above-icon-tooltip-download {
    background-image: url('../../images/download-tooltip-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 140px;
    height: 44px;
    position: absolute;
    bottom: 18px;
    left: -62.5px;
    cursor: default;
}