.summary-dislocation-carriages {
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    border-radius: 4px;
}
.summary-dislocation-carriages__carriage-search-name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.004em;
    color: #444C5C;
    margin: 32px auto 0 32px;
}
.summary-dislocation-carriages__carriage-search-container {
    display: flex;
    margin: 4px auto 0 32px;
}
.summary-dislocation-carriages__carriage-search-input {
    width: 209px;
    height: 40px;
    margin: 0 16px 0 0;
    border: 1px solid #CFD4DD;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    padding: 0 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: #444C5C;
}
.summary-dislocation-carriages__carriage-search-input::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: #939CAD;
}
.summary-dislocation-carriages__carriage-search-button {
    width: 93px;
    height: 40px;
    background: #00A2E1;
    border-radius: 4px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.summary-dislocation-carriages__carriage-search-button:active {
    box-shadow: 0px 8px 10px rgba(177, 184, 197, 0.14), 0px 3px 14px rgba(177, 184, 197, 0.12), 0px 5px 5px rgba(177, 184, 197, 0.2);
}
.summary-dislocation-carriages__carriage-search-button_disabled {
    background: #FFFFFF;
    border: 1px solid #CFD4DD;
    box-sizing: border-box;
    color: #CFD4DD;
    cursor: default;
}
.summary-dislocation-carriages__carriage-search-button_disabled:active {
    box-shadow: none;
}
.summary-dislocation-carriages__add-vagons {
    display: flex;
    margin: 20px auto 0 32px;
    cursor: pointer;
}
.summary-dislocation-carriages__add-vagons-icon {
    background-image: url('../../images/add-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
}
.summary-dislocation-carriages__add-vagons-icon_active {
    background-image: url('../../images/add-blue-icon.svg');
}
.summary-dislocation-carriages__add-vagons-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #667389;
    margin: 0;
}
.summary-dislocation-carriages__add-vagons-text_active {
    color: #00A2E1;
}
.summary-dislocation-carriages__table-heading-container {
    display: flex;
    justify-content: space-between;
    margin: 32px 32px 0;
}
.summary-dislocation-carriages__table-heading-results {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.001em;
    color: #667389;
    margin: 0 auto 0 0;
}
.summary-dislocation-carriages__table-heading-icons-container {
    display: flex;
    width: 100px;
    margin: 0 6px 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.summary-dislocation-carriages__table-heading-email-icon {
    background-image: url('../../images/email-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    cursor: pointer;
}
.summary-dislocation-carriages__table-heading-save-icon {
    background-image: url('../../images/import-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 17px;
    cursor: pointer;
}
.summary-dislocation-carriages__table-heading-filter-icon {
    background-image: url('../../images/filter-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 12px;
    cursor: pointer;
}
.summary-dislocation-carriages__table-heading-filter-icon_active {
    background-image: url('../../images/filter-icon-active.svg');
}
.summary-dislocation-carriages__filter-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32px;
    right: -6px;
    background: #FFFFFF;
    box-shadow: 0px 8px 10px rgba(177, 184, 197, 0.14), 0px 3px 14px rgba(177, 184, 197, 0.12), 0px 5px 5px rgba(177, 184, 197, 0.2);
    border-radius: 4px;
    cursor: default;
}
.summary-dislocation-carriages__filter-heading-container {
    display: flex;
    margin: 24px 24px 0;
    position: relative;
}
.summary-dislocation-carriages__filter-close-button {
    background-image: url('../../images/filter-close-button.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    bottom: 13px;
    right: -9px;
}
.summary-dislocation-carriages__filter-heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0015em;
    color: #444C5C;
    margin: 0 auto 0 0;
}
.summary-dislocation-carriages__filter-group-select-heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.004em;
    color: #444C5C;
    margin: 24px auto 0 24px;
}
.summary-dislocation-carriages__filter-group-select-container {
    display: flex;
    margin: 4px 24px 0;
    width: 324px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CFD4DD;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    position: relative;
}
.summary-dislocation-carriages__filter-group-select-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: #939CAD;
    margin: 0 auto 0 20px;
}
.summary-dislocation-carriages__filter-group-select-icon {
    background-image: url('../../images/arrow-down-dark.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 8px;
    height: 4.94px;
    margin: 0 11px 0 auto;
    cursor: pointer;
}
.summary-dislocation-carriages__filter-group-list-container {
    position: absolute;
    top: 48px;
    left: -1px;
    width: 324px;
    height: 245px;
    box-shadow: 0px 3px 4px rgba(177, 184, 197, 0.14), 0px 3px 3px rgba(177, 184, 197, 0.12), 0px 1px 8px rgba(177, 184, 197, 0.2);
    border-radius: 4px;
    overflow-y: scroll;
    z-index: 1;
}
.summary-dislocation-carriages__filter-group-list-container::-webkit-scrollbar {
    width: 10px;
    background: #ECEDF3;
    border-radius: 0 4px 4px 0;
}
.summary-dislocation-carriages__filter-group-list-container::-webkit-scrollbar-thumb {
    background: #CFD4DD;
    border-radius: 0 4px 4px 0;
}
.summary-dislocation-carriages__filter-buttons-container {
    display: flex;
    margin: 24px 24px 0;
}
.summary-dislocation-carriages__filter-radio-buttons-container {
    display: flex;
    flex-direction: column;
    margin: 0 34px 0 0;
}
.summary-dislocation-carriages__filter-radio-buttons-heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.004em;
    color: #444C5C;
    margin: 0 auto 0 0;
}
.summary-dislocation-carriages__filter-radio-buttons {
    margin: 8px auto 0 0;
}
.summary-dislocation-carriages__filter-radio-buttons input[type=radio] {
	display: none;
}
.summary-dislocation-carriages__filter-radio-buttons input[type=radio]:checked + label:before {
	background-image: url('../../images/active-radio-button.svg');
    background-repeat: no-repeat;
}
.summary-dislocation-carriages__filter-radio-buttons label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	bottom: 1px;
    background-image: url('../../images/default-radio-button.svg');
    background-repeat: no-repeat;
}
.summary-dislocation-carriages__filter-radio-buttons label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 24px;
	user-select: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #444C5C;
}
.summary-dislocation-carriages__filter-checkbox-buttons-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 0;
}
.summary-dislocation-carriages__filter-checkbox-buttons-heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.004em;
    color: #444C5C;
    margin: 0 auto 0 0;
}
.summary-dislocation-carriages__filter-checkbox-buttons {
    margin: 8px auto 0 0;
}
.summary-dislocation-carriages__filter-checkbox-buttons input[type=checkbox] {
	display: none;
}
.summary-dislocation-carriages__filter-checkbox-buttons input[type=checkbox]:checked + label:before {
	background-image: url('../../images/checkbox-active.svg');
    background-repeat: no-repeat;
}
.summary-dislocation-carriages__filter-checkbox-buttons label:before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	bottom: 1px;
    background-image: url('../../images/checkbox-default.svg');
    background-repeat: no-repeat;
}
.summary-dislocation-carriages__filter-checkbox-buttons label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 24px;
	user-select: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #444C5C;
}
.summary-dislocation-carriages__filter-submit-buttons-container {
    display: flex;
    margin: 24px auto 24px 24px;
}
.summary-dislocation-carriages__filter-submit-button {
    width: 127px;
    height: 40px;
    margin: 0 24px 0 0;
    background: #00A2E1;
    border-radius: 4px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.summary-dislocation-carriages__filter-submit-button:active {
    box-shadow: 0px 8px 10px rgba(177, 184, 197, 0.14), 0px 3px 14px rgba(177, 184, 197, 0.12), 0px 5px 5px rgba(177, 184, 197, 0.2);
}
.summary-dislocation-carriages__filter-reset-button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: #00A2E1;
    margin: auto auto auto 0;
    cursor: pointer;
}
.summary-dislocation-carriages__filter-reset-button:hover {
    opacity: .8;
}