.vagons-list {
    display: flex;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.vagons-list:last-of-type {
    border-bottom: none;
}
.vagons-list__number {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: rgba(0, 0, 0, 0.6);
    min-width: 70px;
    text-align: right;
    margin: auto 32px;
}
.vagons-list__date {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: #313744;
    text-align: right;
    min-width: 143px;
    margin: auto 32px auto 0;
}
.vagons-list__description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: auto auto auto 0;
}