.vagons-list {
    display: flex;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.vagons-list:last-of-type {
    border-bottom: none;
}
.vagons-list__number {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: #444C5C;
    min-width: 120px;
    text-align: right;
    margin: auto 32px;
}
.vagons-list__date {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: #444C5C;
    text-align: right;
    min-width: 143px;
    margin: auto 32px auto 0;
}
.vagons-list__description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #444C5C;
    margin: auto auto auto 0;
    border: none;
    width: 410px;
    text-overflow: ellipsis;
}
.vagons-list__description:focus {
    color: #7C879B;
    outline: none;
}
.vagons-list__save-button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: #00A2E1;
    border-bottom: 1px solid #00A2E1;
    margin: auto 32px;
    cursor: pointer;
}
.vagons-list__save-button:hover {
    opacity: .8;
}