.my-list-result {
    display: flex;
    flex-direction: column;
    margin: 16px 32px 32px 32px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(177, 184, 197, 0.14), 0px 3px 1px rgba(177, 184, 197, 0.12), 0px 1px 5px rgba(177, 184, 197, 0.2);
}
.my-list-result__heading-container {
    display: flex;
    height: 49px;
    background: #ECEDF3;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 0.001em;
    color: #444C5C;
}
.my-list-result__checkbox {
    margin: auto 8px auto 32px;
    width: 12px;
    height: 12px;
    position: relative;
}
.my-list-result__checkbox input[type=checkbox] {
	display: none;
}
.my-list-result__checkbox input[type=checkbox]:checked + label:before {
	background-image: url('../../images/checkbox-active.svg');
    background-repeat: no-repeat;
}
.my-list-result__checkbox label:before{
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	bottom: 0;
    background-image: url('../../images/checkbox-default.svg');
    background-repeat: no-repeat;
}
.my-list-result__checkbox label {
	cursor: pointer;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
	bottom: 0;
}
.my-list-result__heading-number {
    margin: 0 32px 0 0;
    min-width: 80px;
    text-align: right;
}
.my-list-result__heading-name {
    margin: 0 32px 0 0;
    min-width: 200px;
}
.my-list-result__heading-date {
    margin: 0 32px 0 0;
    min-width: 133px;
    text-align: right;
}
.my-list-result__heading-description {
    margin: 0 auto 0 0;
    max-width: 351px;
}
.my-list-result__bottom-container {
    display: flex;
    height: 49px;
    background: #ECEDF3;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: #444C5C;
    align-items: center;
}
.my-list-result__sort-result-container {
    display: flex;
    align-items: center;
    margin: auto 32px auto auto;
    cursor: pointer;
}
.my-list-result__sort-result-text {
    margin: 0 8px 0 0;
}
.my-list-result__sort-result-arrow {
    background-image: url('../../images/result-sort-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 5px;
    margin: 0;
}
.my-list-result__sort-result-pages {
    margin: 0 32px 0 0;
}
.my-list-result__sort-result-arrows-container {
    display: flex;
    justify-content: space-between;
    width: 62px;
    margin: 0 32px 0 0;
}
.my-list-result__sort-result-arrow-prev {
    background-image: url('../../images/prev-page-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 6px;
    height: 10px;
    cursor: pointer;
}
.my-list-result__sort-result-arrow-next {
    background-image: url('../../images/next-page-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 6px;
    height: 10px;
    cursor: pointer;
}