.summary-dislocation-table__table-column-heading_scheduled-repair-type {
    width: 100px;
    text-align: left;
    margin: auto 0 auto 16px;
}
.summary-dislocation-table__table-column-heading_scheduled-repair-date {
    width: 97px;
    margin: auto 16px auto 24px;
}



.summary-dislocation-table__table-row-text_scheduled-repair-type {
    width: 100px;
    text-align: left;
    margin: auto 0 auto 16px;
}
.summary-dislocation-table__table-row-text_scheduled-repair-date {
    width: 97px;
    margin: auto 16px auto 24px;
}