.summary-dislocation-table__table-column-heading_operation-station {
    width: 127px;
    text-align: left;
    margin: auto 0 auto 16px;
}
.summary-dislocation-table__table-column-heading_operation-road {
    width: 127px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_carriage-operation {
    width: 183px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_operation-mnemonic {
    width: 124px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_operation-date-and-time {
    width: 141px;
}
.summary-dislocation-table__table-column-heading_date-of-operation {
    width: 90px;
}
.summary-dislocation-table__table-column-heading_park-type {
    width: 152px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_delivery-road {
    width: 82px;
}
.summary-dislocation-table__table-column-heading_reception-road {
    width: 106px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_train-index {
    width: 208px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_train-number {
    width: 85px;
}
.summary-dislocation-table__table-column-heading_train-carriage-number {
    width: 96px;
}
.summary-dislocation-table__table-column-heading_park-number {
    width: 96px;
}
.summary-dislocation-table__table-column-heading_path-number {
    width: 71px;
}
.summary-dislocation-table__table-column-heading_number-of-fillings {
    width: 112px;
}
.summary-dislocation-table__table-column-heading_number-of-loaded-containers {
    width: 135px;
}
.summary-dislocation-table__table-column-heading_number-of-empty-containers {
    width: 135px;
}
.summary-dislocation-table__table-column-heading_container-numbers-on-wagon {
    width: 127px;
}
.summary-dislocation-table__table-column-heading_standard-delivery-time {
    width: 117px;
}
.summary-dislocation-table__table-column-heading_distance-traveled-km {
    width: 103px;
}
.summary-dislocation-table__table-column-heading_distance-remaining-km {
    width: 103px;
}
.summary-dislocation-table__table-column-heading_total-distance-km {
    width: 72px;
}
.summary-dislocation-table__table-column-heading_downtime-under-last-operation {
    width: 126px;
}
.summary-dislocation-table__table-column-heading_downtime-under-last-operation-day {
    width: 126px;
}
.summary-dislocation-table__table-column-heading_dispatch-id {
    width: 128px;
}
.summary-dislocation-table__table-column-heading_forwarding-invoice-id {
    width: 137px;
}
.summary-dislocation-table__table-column-heading_date-and-time-departure-aoup-from-station {
    width: 223px;
}
.summary-dislocation-table__table-column-heading_date-and-time-of-arrival-aoup-at-station {
    width: 223px;
}
.summary-dislocation-table__table-column-heading_submission-id {
    width: 153px;
}
.summary-dislocation-table__table-column-heading_invoice-id {
    width: 161px;
    margin: auto 16px auto 24px;
}
.summary-dislocation-table__table-row-text_operation-station {
    width: 127px;
    text-align: left;
    margin: auto 0 auto 16px;
}
.summary-dislocation-table__table-row-text_operation-road {
    width: 127px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_carriage-operation {
    width: 183px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_operation-mnemonic {
    width: 124px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_operation-date-and-time {
    width: 141px;
}
.summary-dislocation-table__table-row-text_date-of-operation {
    width: 90px;
}
.summary-dislocation-table__table-row-text_park-type {
    width: 152px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_delivery-road {
    width: 82px;
}
.summary-dislocation-table__table-row-text_reception-road {
    width: 106px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_train-index {
    width: 208px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_train-number {
    width: 85px;
}
.summary-dislocation-table__table-row-text_train-carriage-number {
    width: 96px;
}
.summary-dislocation-table__table-row-text_park-number {
    width: 96px;
}
.summary-dislocation-table__table-row-text_path-number {
    width: 71px;
}
.summary-dislocation-table__table-row-text_number-of-fillings {
    width: 112px;
}
.summary-dislocation-table__table-row-text_number-of-loaded-containers {
    width: 135px;
}
.summary-dislocation-table__table-row-text_number-of-empty-containers {
    width: 135px;
}
.summary-dislocation-table__table-row-text_container-numbers-on-wagon {
    width: 127px;
}
.summary-dislocation-table__table-row-text_standard-delivery-time {
    width: 117px;
}
.summary-dislocation-table__table-row-text_distance-traveled-km {
    width: 103px;
}
.summary-dislocation-table__table-row-text_distance-remaining-km {
    width: 103px;
}
.summary-dislocation-table__table-row-text_total-distance-km {
    width: 72px;
}
.summary-dislocation-table__table-row-text_downtime-under-last-operation {
    width: 126px;
}
.summary-dislocation-table__table-row-text_downtime-under-last-operation-day {
    width: 126px;
}
.summary-dislocation-table__table-row-text_dispatch-id {
    width: 128px;
}
.summary-dislocation-table__table-row-text_forwarding-invoice-id {
    width: 137px;
}
.summary-dislocation-table__table-row-text_date-and-time-departure-aoup-from-station {
    width: 223px;
}
.summary-dislocation-table__table-row-text_date-and-time-of-arrival-aoup-at-station {
    width: 223px;
}
.summary-dislocation-table__table-row-text_submission-id {
    width: 153px;
}
.summary-dislocation-table__table-row-text_invoice-id {
    width: 161px;
    margin: auto 16px auto 24px;
}