.summary-dislocation-table__table-column-heading_operation-station {
    width: 127px;
    text-align: left;
    margin: auto 0 auto 16px;
}
.summary-dislocation-table__table-column-heading_operation-road {
    width: 127px;
    text-align: left;
}





.summary-dislocation-table__table-row-text_operation-station {
    width: 127px;
    text-align: left;
    margin: auto 0 auto 16px;
}
.summary-dislocation-table__table-row-text_operation-road{
    width: 127px;
    text-align: left;
}