.group-list {
    display: flex;
    margin: 32px 32px 0 32px;
}
.group-list__main-search-container {
    display: flex;
    flex-direction: column;
}
.group-list__heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.004em;
    color: #444C5C;
    margin: 0 auto 0 0;
}
.group-list__search-container {
    display: flex;
    margin: 4px auto 0 0;
}
.group-list__select-group-container {
    display: flex;
    position: relative;
    border: 1px solid #CFD4DD;
    box-sizing: border-box;
    border-radius: 4px;
    width: 324px;
    height: 40px;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
    background: #FFFFFF;
}
.group-list__select-group-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: #939CAD;
    margin: 0 auto 0 16px;
}
.group-list__select-group-text_active {
    color: #444C5C;
}
.group-list__select-group-arrow {
    background-image: url('../../images/arrow-down-dark.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 8px;
    height: 5px;
    margin: 0 19px 0 0;
}
.group-list__group-select-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: -1px;
    width: 323px;
    max-height: 200px;
    overflow-y: scroll;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
    background: #FFFFFF;
    z-index: 1;
}
.group-list__group-select-container::-webkit-scrollbar {
    width: 10px;
    background: #ECEDF3;
    border-radius: 0 4px 4px 0;
}
.group-list__group-select-container::-webkit-scrollbar-thumb {
    background: #CFD4DD;
    border-radius: 0 4px 4px 0;
}
.group-list__group-select-container_open {
    display: none;
}
.group-list__group-select-group-container {
    display: flex;
    min-height: 40px;
    border-bottom: 1px solid #E5E5E5;
    align-items: center;
    cursor: default;
}
.group-list__group-select-group-container_result:hover {
    background: #ECEDF3;
    cursor: pointer;
}
.group-list__group-select-group-container:last-of-type {
    border-bottom: none;
}
.group-list__group-select-group-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #444C5C;
    letter-spacing: 0.0025em;
    margin: 0 auto 0 16px;
}
.group-list__select-group-button {
    background: #DCDCDC;
    border-radius: 4px;
    border: none;
    width: 93px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.group-list__select-group-button_active {
    background: #00A2E1;
    cursor: pointer;
}
.group-list__select-group-button_active:hover {
    background: #00A2E1;
}
.group-list__select-group-button_active:active {
    background: #00A2E1;
    box-shadow: 0px 8px 10px rgba(177, 184, 197, 0.14), 0px 3px 14px rgba(177, 184, 197, 0.12), 0px 5px 5px rgba(177, 184, 197, 0.2);
}
.group-list__remove-all {
    margin: auto 0 0 auto;
    width: 258px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CFD4DD;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #00A2E1;
    cursor: pointer;
}
.group-list__remove-all:hover {
    background: rgba(0, 162, 225, 0.04);
}
.group-list__remove-all:active {
    background: rgba(0, 162, 225, 0.12);
}