.request-history {
    display: flex;
    flex-direction: column;
    margin: 32px auto 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.request-history__main-container {
    display: flex;
    flex-direction: column;
    margin: 32px;
}
.request-history__heading-container {
    display: flex;
    justify-content: space-between;
}
.request-history__heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0 auto 0 0;
}
.request-history__search-container {
    display: flex;
    position: relative;
    margin: 0 0 0 auto;
}
.request-history__search-input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: rgba(0, 0, 0, 0.87);
    width: 289px;
    height: 40px;
    position: relative;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 42px 0 14px;
}
.request-history__search-input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}
.request-history__search-icon {
    background-image: url('../../images/search-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 11px;
    right: 14px;
    width: 18px;
    height: 18px;
}
.request-history__reqests-heading {
    display: flex;
    background: #EAEEEF;
    height: 49px;
    margin: 24px 0 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.001em;
    color: rgba(0, 0, 0, 0.87);
}
.request-history__date-container {
    display: flex;
    margin: auto 32px auto 34px;
    width: 138px; 
}
.request-history__date {
    margin: auto 10px auto auto;
}
.request-history__date-sort-icon {
    background-image: url('../../images/date-sort-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 9px;
    height: 13px;
    margin: auto 0;
    cursor: pointer;
}
.request-history__request {
    margin: auto auto auto 0;
    max-width: 350px;
}
.request-history__param {
    margin: auto 32px auto 0;
    width: 107px;
    text-align: right;
}
.request-history__status {
    margin: auto 32px auto 0;
    width: 100px;
}
.request-history__actions {
    margin: auto 69px auto 0;
    text-align: center;
    width: 129px;
}
.request-history__list-container {
    display: flex;
    flex-direction: column;
    min-height: 56px;
}
.request-history__sort-container {
    display: flex;
    height: 36px;
    background: #EAEEEF;
}
.request-history__sort-options-container {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: rgba(0, 0, 0, 0.87);
    margin: auto 32px auto auto;
}
.request-history__show-result-container {
    display: flex;
    margin: 0 48px 0 0;
    align-items: center;
}
.request-history__show-result-text {
    margin: 0 8px 0 0;
}
.request-history__show-result-icon {
    background-image: url('../../images/result-sort-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 8px;
    height: 5px;
    cursor: pointer;
}
.request-history__sort-pages {
    margin: 0 48px 0 0;
}
.request-history__sort-change-page-container {
    display: flex;
    margin: 0;
    width: 62px;
    justify-content: space-between;
    align-items: center;
}
.request-history__sort-change-page-prev {
    background-image: url('../../images/prev-page-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 6px;
    height: 10px;
    cursor: pointer;
}
.request-history__sort-change-page-next {
    background-image: url('../../images/next-page-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 6px;
    height: 10px;
    cursor: pointer;
}
