.request-info {
    display: flex;
    flex-direction: column;
    margin: 32px auto 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}
.request-info__heading-container {
    display: flex;
    height: 49px;
    background: #586579;
}
.request-info__request-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: rgba(255, 255, 255, 0.87);
    margin: auto auto auto 32px;
}
.request-info__options-container {
    display: flex;
    margin: auto 32px auto 0;
}
.request-info__option-container {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #F7F7F7;
    margin: 0 33px 0 0;
    cursor: pointer;
}
.request-info__option-link-container {
    display: flex;
    text-decoration: none;
    color: #F7F7F7;
    align-items: center;
    margin: 0;
}
.request-info__option-container:last-of-type {
    margin-right: 0;
}
.request-info__option-icon {
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin: auto 7px auto 0;
}
.request-info__option-icon_download {
    background-image: url('../../images/download-white-icon.svg');
}
.request-info__option-text {
    margin: auto 0;
}
.request-info__spinner-container {
    display: flex;
    flex-direction: column;
    height: 275px;
}
.request-info__search-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0015em;
    color: #444C5C;
    margin: 48px auto 0;
}
.spinner__container {
	position: relative;
    margin: 32px auto 0;
	width: 70px;
	height: 70px;
}
.spinner__circle-preloader {
	display: block;
	border: 5px solid #586579;
	border-bottom-color: #f7f2f2;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	animation: spin .95s infinite linear;
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
.request-info__info-container {
    display: flex;
    height: 421px;
}
.request-info__text-container {
    width: 100%;
    display: flex;
    overflow-y: scroll;
    padding-bottom: 32px;
}
.request-info__text-container::-webkit-scrollbar {
    width: 12px;
    background: #ECEDF3;
}
.request-info__text-container::-webkit-scrollbar-thumb {
    background: #CFD4DD;
}
.request-info__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #444C5C;
    margin: 32px 68px auto 32px;
}
.request-info__map-container {
    width: 100%;
}
