.header {
    display: flex;
    width: 100%;
}
.header__user-container {
    display: flex;
    margin: 0 0 0 auto;
}
.header__user-icon {
    background-image: url('../../images/user-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin: auto 8px auto 0;
}
.header__user-name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
    margin: auto 0;
}