.request-history-list {
    display: flex;
    height: 66px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.request-history-list:last-of-type {
    border-bottom: none;
}
.request-history-list__date {
    margin: 16px 32px auto 32px;
    min-width: 140px;
}
.request-history-list__request {
    margin: 16px auto auto 0;
    max-width: 350px;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.request-history-list__params-container {
    display: flex;
    flex-direction: column;
    min-width: 107px;
    max-height: 48px;
    overflow: hidden;
    margin: 16px 32px auto 32px;
}
.request-history-list__param {
    margin: 0 0 0 auto;
    max-width: 107px;
    min-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.request-history-list__status {
    margin: 16px 32px auto 0;
    min-width: 100px;
    color: #33CC99;
}
.request-history-list__actions-container {
    display: flex;
    margin: 16px 32px auto 0;
    min-width: 129px;
}
.request-history-list__action-download {
    background-image: url('../../images/download-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin: auto 25px auto auto;
    cursor: pointer;
}
.request-history-list__action-print {
    background-image: url('../../images/print-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin: auto auto auto 0;
    cursor: pointer;
}
.request-history-list__options {
    background-image: url('../../images/list-options-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 5px;
    height: 20px;
    margin: 16px 30px auto 0;
    cursor: pointer;
}