.summary-dislocation-table__table-column-heading_carriage-technical-condition-number {
    width: 83px;
    margin: auto 0 auto 16px;
}
.summary-dislocation-table__table-column-heading_quality-mark {
    width: 161px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_date-and-time-of-state-assignment {
    width: 136px;
}
.summary-dislocation-table__table-column-heading_carriage-condition {
    width: 108px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_reason-for-assigning-state {
    width: 129px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_state-destination-station {
    width: 127px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_registration-date {
    width: 109px;
}
.summary-dislocation-table__table-column-heading_build-date {
    width: 96px;
}
.summary-dislocation-table__table-column-heading_date-of-next-scheduled-repair {
    width: 118px;
}
.summary-dislocation-table__table-column-heading_type-of-next-scheduled-repair {
    width: 129px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_factory-number {
    width: 64px;
}
.summary-dislocation-table__table-column-heading_manufacturing-plant {
    width: 307px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_carriage-type {
    width: 200px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_carriage-model {
    width: 90px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_wagon-container {
    width: 45px;
}
.summary-dislocation-table__table-column-heading_carrying-capacity {
    width: 115px;
}
.summary-dislocation-table__table-column-heading_length-along-axes-coupler {
    width: 90px;
}
.summary-dislocation-table__table-column-heading_depot-last-cap-renovation {
    width: 183px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_date-last-cap-renovation {
    width: 104px;
}
.summary-dislocation-table__table-column-heading_depot-last-dep-renovation {
    width: 183px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_date-last-dep-renovation {
    width: 105px;
}
.summary-dislocation-table__table-column-heading_home-road {
    width: 104px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_depot-registration {
    width: 57px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_exclusion-date {
    width: 76px;
}
.summary-dislocation-table__table-column-heading_reason-for-ban-on-running {
    width: 112px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_carriage-number-before-renumbering {
    width: 104px;
}
.summary-dislocation-table__table-column-heading_owner {
    width: 139px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_owner-okpo {
    width: 126px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_owner-local-code {
    width: 100px;
}
.summary-dislocation-table__table-column-heading_home-station {
    width: 121px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_threshold-sign {
    width: 161px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_rental-sign {
    width: 56px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_approved-life-extension-date {
    width: 126px;
}
.summary-dislocation-table__table-column-heading_tenant {
    width: 65px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_lessee-okpo {
    width: 113px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_tenant-local-code {
    width: 103px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_lease-home-station {
    width: 112px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_lease-end-date {
    width: 98px;
}
.summary-dislocation-table__table-column-heading_carriage-service-life {
    width: 85px;
}
.summary-dislocation-table__table-column-heading_body-volume {
    width: 47px;
}
.summary-dislocation-table__table-column-heading_overall-dimensions {
    width: 50px;
}
.summary-dislocation-table__table-column-heading_air-diffuser-type-code {
    width: 172px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_auto-mode {
    width: 70px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_automatic-linkage-adjuster {
    width: 125px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_brake-type {
    width: 108px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_coupler-type {
    width: 95px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_cart-model {
    width: 554px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_draft-apparatus-type {
    width: 117px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_sign-extension-service-life-carriage {
    width: 132px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_boiler-caliber {
    width: 47px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_presence-drain-device {
    width: 112px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_lever-gear {
    width: 65px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_car-model-code {
    width: 73px;
}
.summary-dislocation-table__table-column-heading_mileage-repair-sign {
    width: 109px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_proxy-operator {
    width: 89px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_proxy-operator-okpo {
    width: 139px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_car-type {
    width: 47px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_conventional-wagon-type {
    width: 70px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_number-of-wagon-axles {
    width: 78px;
}
.summary-dislocation-table__table-column-heading_depot-carriage-exclusion {
    width: 112px;
    text-align: left;
}
.summary-dislocation-table__table-column-heading_reason-exclusion-carriage {
    width: 122px;
    text-align: left;
    margin: auto 16px auto 24px;
}


.summary-dislocation-table__table-row-text_carriage-technical-condition-number {
    width: 83px;
    margin: auto 0 auto 16px;
}
.summary-dislocation-table__table-row-text_quality-mark {
    width: 161px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_date-and-time-of-state-assignment {
    width: 136px;
}
.summary-dislocation-table__table-row-text_carriage-condition {
    width: 108px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_reason-for-assigning-state  {
    width: 129px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_state-destination-station  {
    width: 127px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_registration-date  {
    width: 109px;
}
.summary-dislocation-table__table-row-text_build-date  {
    width: 96px;
}
.summary-dislocation-table__table-row-text_date-of-next-scheduled-repair  {
    width: 118px;
}
.summary-dislocation-table__table-row-text_type-of-next-scheduled-repair  {
    width: 129px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_factory-number  {
    width: 64px;
}
.summary-dislocation-table__table-row-text_manufacturing-plant {
    width: 307px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_carriage-type {
    width: 200px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_carriage-model {
    width: 90px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_wagon-container {
    width: 45px;
}
.summary-dislocation-table__table-row-text_carrying-capacity {
    width: 115px;
}
.summary-dislocation-table__table-row-text_length-along-axes-coupler {
    width: 90px;
}
.summary-dislocation-table__table-row-text_depot-last-cap-renovation {
    width: 183px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_date-last-cap-renovation {
    width: 104px;
}
.summary-dislocation-table__table-row-text_depot-last-dep-renovation {
    width: 183px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_date-last-dep-renovation {
    width: 105px;
}
.summary-dislocation-table__table-row-text_home-road {
    width: 104px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_depot-registration {
    width: 57px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_exclusion-date {
    width: 76px;
}
.summary-dislocation-table__table-row-text_reason-for-ban-on-running {
    width: 112px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_carriage-number-before-renumbering {
    width: 104px;
}
.summary-dislocation-table__table-row-text_owner {
    width: 139px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_owner-okpo {
    width: 126px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_owner-local-code {
    width: 100px;
}
.summary-dislocation-table__table-row-text_home-station {
    width: 121px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_threshold-sign {
    width: 161px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_rental-sign {
    width: 56px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_approved-life-extension-date {
    width: 126px;
}
.summary-dislocation-table__table-row-text_tenant {
    width: 65px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_lessee-okpo {
    width: 113px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_tenant-local-code {
    width: 103px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_lease-home-station {
    width: 112px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_lease-end-date {
    width: 98px;
}
.summary-dislocation-table__table-row-text_carriage-service-life {
    width: 85px;
}
.summary-dislocation-table__table-row-text_body-volume {
    width: 47px;
}
.summary-dislocation-table__table-row-text_overall-dimensions {
    width: 50px;
}
.summary-dislocation-table__table-row-text_air-diffuser-type-code {
    width: 172px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_auto-mode {
    width: 70px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_automatic-linkage-adjuster {
    width: 125px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_brake-type {
    width: 108px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_coupler-type {
    width: 95px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_cart-model {
    width: 554px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_draft-apparatus-type {
    width: 117px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_sign-extension-service-life-carriage {
    width: 132px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_boiler-caliber {
    width: 47px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_presence-drain-device {
    width: 112px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_lever-gear {
    width: 65px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_car-model-code {
    width: 73px;
}
.summary-dislocation-table__table-row-text_mileage-repair-sign {
    width: 109px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_proxy-operator {
    width: 89px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_proxy-operator-okpo {
    width: 139px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_car-type {
    width: 47px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_conventional-wagon-type {
    width: 70px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_number-of-wagon-axles {
    width: 78px;
}
.summary-dislocation-table__table-row-text_depot-carriage-exclusion {
    width: 112px;
    text-align: left;
}
.summary-dislocation-table__table-row-text_reason-exclusion-carriage {
    width: 122px;
    text-align: left;
    margin: auto 16px auto 24px;
}