.request {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.request__main-container {
    display: flex;
    flex-direction: column;
    margin: 32px;
}
.request__heading-container {
    display: flex;
    justify-content: space-between;
}
.request__heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0 auto 0 0;
}
.request__price {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: #1081C7;
    margin: auto 0 0 auto;
}
.request__select-heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.004em;
    color: rgba(0, 0, 0, 0.87);
    margin: 24px auto 0 0;
}
.request__select-container {
    display: flex;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 4px;
    width: 480px;
    height: 40px;
    margin: 8px auto 0 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
}
.request__select-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: #AFAFAF;
    margin: 0;
}
.request__select-text_selected {
    color: rgba(0, 0, 0, 0.87);
}
.request__select-arrow {
    background-image: url('../../images/arrow-down-dark.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 8.5px;
    height: 5px;
}
.request__lists-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    left: -1px;
    top: 48px;
    width: 480px;
    background-color: #FFFFFF;
    cursor: text;
    z-index: 1;
    overflow: hidden;
}
.reques__list-container {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EAEEEF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
}
.reques__list-container:last-of-type {
    border-bottom: none;
}
.reques__list-container:hover {
    background-color: #E7F2F9;
}
.reques__list-text {
    margin: 0 auto 0 16px;
}
.request__options-container {
    display: flex;
    margin: 16px auto 0 0;
}
.request__option-container {
    display: flex;
    flex-direction: column;
    margin: 0 16px 0 0;
}
.request__option-container:last-of-type {
    margin-right: 0;
}
.request__option-span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.004em;
    color: rgba(0, 0, 0, 0.87);
    margin: 0 auto 0 0;
}
.request__option-input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0025em;
    color: rgba(0, 0, 0, 0.87);
    width: 232px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 4px;
    margin: 6px 0 0 0;
    padding: 0 16px;
}
.request__option-input::placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.request__submit-button {
    width: 109px;
    height: 40px;
    background: #33CC99;
    border-radius: 4px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 24px auto 0 0;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.request__submit-button:hover {
    background: #24C690;
}
.request__submit-button:active {
    background: #1BB481;
}
.request__submit-button_disabled {
    background: #DCDCDC;
}
.request__submit-button_disabled:hover {
    background: #DCDCDC;
    cursor: default;
}
